name: Sync Rolling Tags
run-name: "Sync Rolling Tags (branch: ${{ github.ref_name }})"

on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.repository }}
  cancel-in-progress: false

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  update-rolling-tags:
    name: Update Rolling Tags
    runs-on: ubuntu-latest
    environment: release
    permissions:
      contents: write
      id-token: write

    steps:

      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Check For Admin Permission
        uses: actions-cool/check-user-permission@7b90a27f92f3961b368376107661682c441f6103 # v2.3.0
        with:
          require: admin
          username: ${{ github.triggering_actor }}

      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: ${{ vars.GH_APP_ID }}
          private-key: ${{ secrets.GH_APP_PRIVATE_KEY }}

      - name: Get GitHub App User ID
        id: get-user-id
        shell: bash
        run: |
          echo "user-id=$(gh api "/users/${{ steps.app-token.outputs.app-slug }}[bot]" --jq .id)" >> "$GITHUB_OUTPUT"
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}

      - name: Configure Git
        shell: bash
        run: |
          git config --global user.name '${{ steps.app-token.outputs.app-slug }}[bot]'
          git config --global user.email '${{ steps.get-user-id.outputs.user-id }}+${{ steps.app-token.outputs.app-slug }}[bot]@users.noreply.github.com'

      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          token: ${{ steps.app-token.outputs.token }}
          fetch-depth: 0

      - name: Install uv
        id: install-uv
        uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a # v7.1.5

      - name: Generate additional ToolR requirements file
        shell: bash
        run: |
          uv export --frozen --no-hashes --only-group tools --output-file ${{ github.workspace }}/toolr-requirements.txt

      - name: Setup ToolR
        id: setup-toolr
        uses: s0undt3ch/ToolR@05c0d9d5f907b1c108a02af1b9b52aa71926bc06 # v0.11.0
        with:
          requirements-file: ${{ github.workspace }}/toolr-requirements.txt

      - name: Setup Prek
        id: setup-pre-commit
        uses: ./.github/actions/setup-pre-commit
        with:
          cache-seed: sync-rolling-tags

      - name: Update rolling tags
        id: update-rolling-tags
        run: |
          toolr ci sync-rolling-tags

      - name: Fix any issues with pre-commit
        if: fromJSON(steps.update-rolling-tags.outputs.uncommitted-changes)
        run: |
          prek run --all-files --show-diff-on-failure || true

      - name: Show changes
        if: fromJSON(steps.update-rolling-tags.outputs.uncommitted-changes)
        run: |
          git diff --color

      - name: Commit the changes
        if: fromJSON(steps.update-rolling-tags.outputs.uncommitted-changes)
        run: |
          git commit -am "chore(release): Update ToolR action versions in workflows"

      - name: Push the changes
        if: fromJSON(steps.update-rolling-tags.outputs.uncommitted-changes)
        run: |
          git push
